<div style="margin-top: 70px;">
    {{#each products}}
    <div style="border: 1px solid red; display:inline-block">
        <h1 style="margin-top: 70px;">{{name}}</h1>
        <h1 style="margin-top: 70px;">{{price}}</h1>
    </div>
    {{/each}}
</div>